span {
    background-color: blueviolet;
    color: azure;
    text-align: justify;
}

h4 {
    text-align: center;
    color: red;
    font-size: 40px;
}

h1 {
    background-color: aqua;
    padding: 20px;
}

b {
    background-color: blue;
    color: aliceblue;
    font-size: 30px;
}